<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/food/search" method="get">
    <input type="text" name="foodSearchName" required>
    <input type="submit" value="검색">
</form>

<table border="1">
    <tr th:each="result : ${result}">
        <td><a th:href="@{'/food/foodDetail/' + ${result.foodId}}">
            <th:block th:text="${result.foodName}"></th:block>
        </a></td>
    </tr>
</table>
<a href="/food/foodList"><input type="button" value="전체 리스트로"></a>
</body>
</html>