<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
헬스 루틴 보이는 테스트
<hr>
    <table border="1">
        <td>id</td>
        <td>운동 종류</td>
        <td>세트수</td>
        <td>무게</td>
        <td>저장날짜 및 시간</td>
        <tr th:each="routines : ${routines}">
            <td th:text="${routines.getId()}"></td>
            <td th:text="${routines.getExerciseType()}"></td>
            <td th:text="${routines.getSets()}"></td>
            <td th:text="${routines.getWeight()}"></td>
            <td th:text="${routines.getRecordDate()}"></td>
        </tr>
    </table>
<hr>
<a href="mainTest">테스트 메인 이동</a>
</body>
</html>